@import "/src/css/reset.css";
@import "/src/css/media.css";

*, *::before, *::after{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }

@font-face {
    font-family: "rozoviichulok_regular";
    src: url(../fonts/rozoviichulok_regular.ttf);
}
.background {
    background: url(../img/ФОН.jpg) center center/cover no-repeat;
    /* background-attachment: fixed; */
    /* background-size: cover; */
    background-position: 100% 100%;
    background-color: #f1eee9;
    min-width: 100%;
    z-index: -1;
}
.container {
    max-width: 1380px;
    padding: 0 30px;
    margin: 0 auto;
    }

/* Вступление */

    /* Навигация */
    :root{
        --white: #fbf8f3;
        --black: #c8c5bf;
        --grey: #c599b6;
    } 
    a{
        text-decoration: none;
    }
    
    ul{
        list-style: none;
    }
    
    /* Header */
    .header{
        background-color: var(--black);
        box-shadow: 1px 1px 5px 0px var(--grey);
        position: sticky;
        top: 0;
        width: 100%;
    }
    
    
    /* Nav menu */
    .nav{
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: var(--black);
        overflow: hidden;
        
    }
    
    .menu a{
        display: block;
        padding: 30px;
        color: var(--white);
        font-family: 'rozoviichulok_regular';
        font-size: 34px;
    
    }
    
    .menu a:hover{
        background-color: var(--grey);
    }
    
    .nav{
        max-height: 0;
        transition: max-height .5s ease-out;
    }
    
    /* Menu Icon */
    
    .hamb{
        cursor: pointer;
        float: right;
        padding: 50px 20px;
    }
    
    
    .hamb-line {
        background: var(--white);
        display: block;
        height: 3px;
        position: relative;
        width: 30px;
        
    }
    
    .hamb-line::before,
    .hamb-line::after{
        background: var(--white);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    
    .hamb-line::before{
        top: 5px;
    }
    
    .hamb-line::after{
        top: -5px;
    }
    
    
    .side-menu {
        display: none;
    }
    
    /* Toggle menu icon */
    
    .side-menu:checked ~ nav{
        max-height: 100%;
    }
    
    .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
    }
    
    .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
    
    }
    
    .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
    }
    
    
    /* Responsiveness */
    
    @media (min-width: 768px) {
        .nav{
            max-height: none;
            top: 0;
            position: relative;
            float: right;
            width: fit-content;
            background-color: transparent;
    
        }
    
        .menu li{
            float: left;
        }
        .menu a{
            display: block;
            padding: 30px;
            color: var(--white);
            font-family: 'cambria';
            font-size: 14px;
        
        }
        .menu a:hover{
            background-color: transparent;
            color: var(--grey);
            
        }
        
        .hamb{
            display: none;
        }
    
    }
      
    /* Аудио */
    /* audio {
       display: none;
    }
    .sound-btn{
        padding: 30px 20px;
        border: none;
    }
    .sound-btn-play {
        width: 30px;
    } */
    audio {
        display: none;
      }
    .play_button {
        padding: 20px 20px;
        border: none;
    }
    .play {
        width: 30px;
    }
    
    /* Вступление */


.title {
    margin-top: 5px; 
    color: #1e254b;
    font-family: 'rozoviichulok_regular';
    font-size: 44pt;
    font-weight: 400px;
    text-align: center;
    font-weight: normal;
}
.img_hello {
    margin-top: 15px;
    text-align: center;
}
.img_hello_img{
    width: 611px;
}
h2{
    margin-top: 30px;
    padding: 0 0px;
    color: #1e254b;
    font-family: 'rozoviichulok_regular';
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

/* Приглашение */

.waiting {
    /* min-height: 1860px; */
    padding: 20px 0 0px 0;
}
.waiting .waiting_header {
    padding: 0 0;
    color: #1e254b;
    font-family: 'rozoviichulok_regular';
    font-size: 44px;
    font-weight: 400;
    text-align: center;
}
.waiting .waiting_subheader {
   padding: 10px 50px;
    color: #1e254b;
    font-family: 'cambria';
    font-size: 14pt;
    font-weight: 400;
    text-align: center; 
}

.waiting_subheader_special {
    font-size: 18pt;
    font-family: 'rozoviichulok_regular';
    color: #ff723c;
}


.my-flex-container {
        margin-top: 0px;
}
.my-flex-block
img{
    /* width: 655px; */
}
.my-flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .palette_img1 {
    margin-top: 10px;
    display: flex;
    gap: 50px;
    grid-template-rows: 279px;
    justify-content: center; 
    align-items: center;
    }

    .palette_img11 {
        width: 354px;
    }
    .palette_img12 {
        width: 310px;
    }

  /* Тайминг */

  .optimization {
    /* height: 1460px; */
    padding: 20px 0 0px 0;
    background: url(/src/icons/Фигура\ 46\ 3.png) right center no-repeat;
    background-size: 45%;

  }
    .optimization .optimization_header {
    padding: 0 0;
    color: #1e254b;
    font-family: 'rozoviichulok_regular';
    font-size: 44px;
    font-weight: 400;
    text-align: center;
  }
  .images_row{
    margin-top: 20px;
    text-align: center;
  }
  .images_row_img {
    width: 300px;
  }
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 1;
} */

/* МестоЛокация */

.place {
    /* height: 1900px;  */
}

.link {
    text-decoration: none;
}
.place .place_btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 250px;
    height: 50px;
    box-shadow: inset 0px -5px 10px hwb(38 91% 5% / 0.268);
    border: 2px solid #cbcbc9;
    background-image: linear-gradient(to top, #c6c4be 0%, #b7b6b2 100%);
    color: #fbf8f3;
    font-family: 'Cambria';
    font-size: 24px;
    font-weight: 400;
    line-height: 0px;
    cursor: pointer;
    outline: #dc9255;

    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}
.place_btn:active {
    position: relative;
    top: 3px;
    background-color: #000000
}
.place .place_btn:hover {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 250px;
    height: 50px;
    box-shadow: inset 0px -5px 10px hwb(38 91% 5% / 0.268);
    border: 2px solid #cbcbc9;
    background-image: linear-gradient(to top, #c6c4be 0%, #b7b6b2 100%);
    color: #ff7300;
    font-family: 'Cambria';
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    outline: #dc9255;
}
    
.place .place_header {
    padding: 20px 0 0px 0;
    color: #1e254b;
    font-family: 'rozoviichulok_regular';
    font-size: 44px;
    font-weight: 400;
    text-align: center;
  }
  .place .place_subheader { 
    margin-top: 20px;
    padding: 0 130px;
     color: #1e254b;
     font-family: 'cambria';
     font-size: 14px;
     font-weight: 400;
     text-align: center; 
    }
.place .place_place_header {
    padding: 30px 10px;
    color: #1e254b;
    font-family: 'rozoviichulok_regular';
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.place .place_img {
    margin-top: 15px;
    text-align: center;
}
.place_img_img{
    width: 372px;
}

/* Цветовая палитра */

.palette { 
    /* height: 2530px; */
}

.palette_img {
    white-space: nowrap;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 100px 0fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
h6 {
    transform:rotate(-90deg);
    color: #1e254b;
    font-family: 'rozoviichulok_regular';
    font-size: 44px;
    font-weight: 400;
    text-align: center;
}
.palette_img_img {
    width: 338px;
}

.palette .palette_wraper{
    margin-top: 20px;
    /* scale: 0.5; */
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 20px;
}
.palette_wraper_icons {
    width: 80px;
}
.palette .palette_text{
    padding: 30px 10px ;
    color: #1e254b;
    font-family: 'cumbria';
    font-size: 14pt;
    font-weight: 400;
    text-align: center; 
}
.palette .palette_subtext{
    color: #1e254b;
    font-family: 'rozoviichulok_regular';
    font-size: 24pt;
    font-weight: 400;
    text-align: center; 
}

/* Анкета */

.Form { 
    height: 800px;
}
.Form .form_header{
    padding: 20px 0 0px 0;
    color: #1e254b;
    font-family: 'rozoviichulok_regular';
    font-size: 44px;
    font-weight: 400;
    text-align: center;
}
.Form .form_subheader{
    margin-top: 10px;
    padding: 0px 0px;
     color: #1e254b;
     font-family: 'cambria';
     font-size: 14pt;
     font-weight: 100pt;
     text-align: center;  
}
.Form .form_sabheader_2 {
    padding: 20px 0 20px 0;
    color: #1e254b;
    font-family: 'rozoviichulok_regular';
    font-size: 24pt;
    font-weight: 400;
    text-align: center;
}
.Form form{
    /* position: absolute; */
}
.signin_form{
    /* left: 130px; */
}
.Form form .input{
    /* max-width: 1150px; */
    padding: 5px 0;
    margin: 20px 0;
    background: none;
    outline: none;
    border: none;
    border-bottom: 3px solid #cdc6bc;
    font-size: 14pt;
    color: #1e254b;
    font-family: 'cambria';
}
.Form form .check-box {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    gap: 35px;
    margin: 20px 0 30px 0;
    font-size: 14pt;
    color: #1e254b;
    font-family: 'rozoviichulok_regular';
}
input[type="checkbox"] {
    transform: scale(2);
    background: url(../icons/3.png) no-repeat;
    cursor: pointer;
}

label1 {
    display: block;
    margin-top: 20px;
    padding: 0px px;
     color: #1e254b;
     font-family: 'cambria';
     font-size: 24px;
}
label2 {
    display: block;
    padding: 0px 0px;
     color: #1e254b;
     font-family: 'rozoviichulok_regular';
     font-size: 24px;
}
span {
    display: block;
    display: inline;
    margin-bottom: 10px;
    padding: 0px 0px;
     color: #1e254b;
     font-family: 'cambria';
     font-size: 12px; 
}

.Form form .Form_btn {
    margin: 10px 0px;
    width: 162px;
    height: 43px;
    box-shadow: inset 0px -5px 10px hwb(38 91% 5% / 0.268);
    border: 2px solid #cbcbc9;
    background-image: linear-gradient(to top, #c6c4be 0%, #b7b6b2 100%);
    color: #fbf8f3;
    font-family: 'Cambria';
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    outline: #dc9255;

    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}
.Form form .Form_btn:hover {
    margin: 10px 0px;
    width: 162px;
    height: 43px;
    box-shadow: inset 0px -5px 10px hwb(38 91% 5% / 0.268);
    border: 2px solid #cbcbc9;
    background-image: linear-gradient(to top, #c6c4be 0%, #b7b6b2 100%);
    color: #ff7300;
    font-family: 'Cambria';
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    outline: #dc9255;
}

.Form_btn:active {
    position: relative;
    top: 0.01px;
    background-color: #000000
}

/* Контакты */

.End {
    /* height: 2100px; */
}
.End .End_header{
    padding: 30px 0 0px 0;
    color: #1e254b;
    font-family: 'rozoviichulok_regular';
    font-size: 44px;
    font-weight: 400;
    text-align: center;
}
.End .End_subheader{
    margin-top: 10px;
    padding: 0px 0px;
     color: #1e254b;
     font-family: 'cambria';
     font-size: 14pt;
     font-weight: 100pt;
     text-align: center;  
}
.End .End_sabheader_2 {
    padding: 10px 0 50px 0;
    color: #656670;
    font-family: 'cambria';
    font-size: 14pt;
    font-weight: 400;
    text-align: center;
}
.End .End_sabheader_3 {
    padding: 10px 0 10px 0;
    color: #1e254b;
    font-family: 'cambria';
    font-size: 14pt;
    font-weight: 400;
    text-align: center;
}

.End .End_wraper {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 30px;
}
.End_icons_img {
    width: 80px;
}
.End .End_wraper .End_icons:hover {
    border: 2px;
    scale: 1.2;
}

/* Отчет времени */
h5{
    padding: 70px 0 50px 0;
    color: #1e254b;
    font-family: 'rozoviichulok_regular';
    font-size: 34pt;
    font-weight: 400;
    text-align: center;
}
span5 {
    display: block;
    display: inline;
    /* margin-bottom: 30px; */
    padding: 0px 0px;
     color: #dd80b2;
     font-family: 'cambria';
     font-size: 44px; 
}
